{% load i18n %}
{% load sentry_helpers %}

<div class="module">
    <div class="page-header">
        <h2>
            {% trans "Lavatrace Log" %}
        </h2>
    </div>
    <div class="module-content">
        <table class="table table-striped">
            <tr>
                <td style="width: 100px;">Commit ID</td>
                <td>{{ commit_id }}</td>
            </tr>
            <tr>
                <td>Version</td>
                <td>{{ version }}</td>
            </tr>
            <tr>
                <td>Assets</td>
                <td>
                    <ol>
                        {% for asset in assets %}
                            <li>{{ asset }}</li>
                        {% endfor %}
                    </ol>
                </td>
            </tr>
        </table>

        <hr>

        {% for entry in entries %}
        <div class="traceback">
            <h3>
                <a href="javascript:void(0)" onclick="$('.log-entry-{{ forloop.counter0 }}').toggleClass('expanded')" title="{% trans "Toggle context" %}" rel="tooltip" class="tip"><i class="icon-info-sign"></i></a>

                {{ entry.type }}: {{ entry.message }}
                <small style="display: block; float: right;">on {{ entry.date|date }}</small>
            </h3>

            <div class="log-entry-{{ forloop.counter0 }} expandable">
                <h4>Objects</h4>
                <div class="objects{{ forloop.counter0 }}">
                    {% render_values entry.objects %}
                </div>

                <h4>Stacktrace</h4>
                <ul class="traceback">
                    {% with stack_id=forloop.counter0 %}{% for frame in entry.frames %}
                        <li class="frame{% if not frame.in_app %} system-frame{% endif %} frame-{{ stack_id }}-{{ forloop.counter0 }}">
                            <p>
                                <code>{{ frame.filename }}</code>
                                <a class="annotation trigger-popover"
                                    data-placement="right"
                                    data-title="{% trans "Original location" %}"
                                    data-content="<dl>
                                        <dt>{% trans "Filename" %}</dt>
                                        <dd>
                                            {{ frame.abs_path }}
                                        </dd>
                                        <dt>{% trans "Line number" %}</dt>
                                        <dd>{{ frame.line_no|default_if_none:"n/a" }}</dd>
                                        <dt>{% trans "Column number" %}</dt>
                                        <dd>{{ frame.col_no|default_if_none:"n/a" }}</dd>
                                        <dt>{% trans "Name" %}</dt>
                                        <dd>{{ frame.name|default_if_none:"n/a" }}</dd>
                                    </dl>">?</a>
                                {% if frame.name %}
                                     in <code>{{ frame.name }}</code>
                                {% endif %}
                                at line <code>{{ frame.line_no }}:{{ frame.col_no }}</code>
                                {% if frame.in_app %}
                                    <span class="tag-app">(application)</span>
                                {% endif %}
                            </p>

                            {% if frame.context %}
                                <ol start="{{ frame.start_line_no }}" class="context">
                                {% for line in frame.context_pre %}
                                    <li>{{ line }}</li>
                                {% endfor %}
                                {% if frame.context_line %}
                                    <li class="active">{{ line }}</li>
                                {% endif %}
                                {% for line in frame.context_post %}
                                    <li>{{ line }}</li>
                                {% endfor %}
                                </ol>
                            {% endif %}
                        </li>
                    {% endfor %}{% endwith %}
                </ul>

                <hr>
            </div>
        </div>
        {% endfor %}
    </div>
</div>